.light-theme {
 
  --uploaded-files-border: #d0d4e4;
  --uploaded-text-color: #323238;

  /******sidebar-colors********/

  --sidebar-bg-color: #ffffff;
  --sidebar-stroke: #e8e8e8;
  --sidebar-inactive-tab-text-color: #707070;
  --sidebar-active-tab-and-logo-text-color: #0145fe;
  --sidebar-inactive-tab-inner-box-bg-color: #f3f3f3;
  --sidebar-inactive-tab-inner-box-bg-hover-color: #f3f3f3;
  --sidebar-active-tab-inner-box-bg-color: #f3f3f3;
  --sidebar-active-tab-left-border-color: #8f99b3;

  /*******table-page********/
  --table-page-header-text-color: #0e1421;
}
