$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$qi-broom: unquote('"\\e964"');
$qi-adjust: unquote('"\\e965"');
$qi-refresh: unquote('"\\e966"');
$qi-user-bold: unquote('"\\e967"');
$qi-activity-bold: unquote('"\\e968"');
$qi-arrow-down-3-bold: unquote('"\\e969"');
$qi-arrow-down-bold: unquote('"\\e96a"');
$qi-arrow-down-square-bold: unquote('"\\e96b"');
$qi-arrow-left-2-bold: unquote('"\\e96c"');
$qi-arrow-left-3-bold: unquote('"\\e96d"');
$qi-arrow-left-square-bold: unquote('"\\e96e"');
$qi-arrow-right-bold: unquote('"\\e96f"');
$qi-arrow-right-circle-bold: unquote('"\\e970"');
$qi-arrow-up-2-bold: unquote('"\\e971"');
$qi-arrow-up-3-bold: unquote('"\\e972"');
$qi-arrow-up-bold: unquote('"\\e973"');
$qi-arrow-up-circle-bold: unquote('"\\e974"');
$qi-arrow-up-square-bold: unquote('"\\e975"');
$qi-bag-2-bold: unquote('"\\e976"');
$qi-bag-bold: unquote('"\\e977"');
$qi-bookmark-bold: unquote('"\\e978"');
$qi-calling-bold: unquote('"\\e979"');
$qi-call-missed-bold: unquote('"\\e97a"');
$qi-camera-bold: unquote('"\\e97b"');
$qi-chart-bold: unquote('"\\e97c"');
$qi-chat-bold: unquote('"\\e97d"');
$qi-delete-bold: unquote('"\\e97e"');
$qi-discount-bold: unquote('"\\e97f"');
$qi-download-bold: unquote('"\\e980"');
$qi-edit-bold: unquote('"\\e981"');
$qi-edit-square-bold: unquote('"\\e982"');
$qi-filter-2-bold: unquote('"\\e983"');
$qi-graph-bold: unquote('"\\e984"');
$qi-image-bold: unquote('"\\e985"');
$qi-lock-bold: unquote('"\\e986"');
$qi-message-bold: unquote('"\\e987"');
$qi-more-circle-bold: unquote('"\\e988"');
$qi-more-square-bold: unquote('"\\e989"');
$qi-notification-bold: unquote('"\\e98a"');
$qi-paper-bold: unquote('"\\e98b"');
$qi-paper-download-bold: unquote('"\\e98c"');
$qi-paper-negative-bold: unquote('"\\e98d"');
$qi-paper-upload-bold: unquote('"\\e98e"');
$qi-play-bold: unquote('"\\e98f"');
$qi-plus-bold: unquote('"\\e990"');
$qi-send-bold: unquote('"\\e991"');
$qi-shield-done-bold: unquote('"\\e992"');
$qi-shield-fail-bold: unquote('"\\e993"');
$qi-ticket-star-bold: unquote('"\\e994"');
$qi-tick-square-bold: unquote('"\\e995"');
$qi-time-square-bold: unquote('"\\e996"');
$qi-unlock-bold: unquote('"\\e997"');
$qi-voice-2-bold: unquote('"\\e998"');
$qi-voice-bold: unquote('"\\e999"');
$qi-volume-down-bold: unquote('"\\e99a"');
$qi-volume-up-bold: unquote('"\\e99b"');
$qi-wallet-bold: unquote('"\\e99c"');
$qi-user-bold1: unquote('"\\e99d"');
$qi-add-user-bold: unquote('"\\e99e"');
$qi-arrow-down-2-bold: unquote('"\\e99f"');
$qi-arrow-down-circle-bold: unquote('"\\e9a0"');
$qi-arrow-left-bold: unquote('"\\e9a1"');
$qi-arrow-left-circle-bold: unquote('"\\e9a2"');
$qi-arrow-right-2-bold: unquote('"\\e9a3"');
$qi-arrow-right-3-bold: unquote('"\\e9a4"');
$qi-arrow-right-square-bold: unquote('"\\e9a5"');
$qi-buy-bold: unquote('"\\e9a6"');
$qi-calendar-bold: unquote('"\\e9a7"');
$qi-call-bold: unquote('"\\e9a8"');
$qi-call-silent-bold: unquote('"\\e9a9"');
$qi-category-bold: unquote('"\\e9aa"');
$qi-close-square-bold: unquote('"\\e9ab"');
$qi-danger-bold: unquote('"\\e9ac"');
$qi-discovery-bold: unquote('"\\e9ad"');
$qi-document-bold: unquote('"\\e9ae"');
$qi-filter-bold: unquote('"\\e9af"');
$qi-folder-bold: unquote('"\\e9b0"');
$qi-game-bold: unquote('"\\e9b1"');
$qi-heart-bold: unquote('"\\e9b2"');
$qi-hide-bold: unquote('"\\e9b3"');
$qi-home-bold: unquote('"\\e9b4"');
$qi-image-2-bold: unquote('"\\e9b5"');
$qi-info-circle-bold: unquote('"\\e9b6"');
$qi-info-square-bold: unquote('"\\e9b7"');
$qi-location-bold: unquote('"\\e9b8"');
$qi-login-bold: unquote('"\\e9b9"');
$qi-logout-bold: unquote('"\\e9ba"');
$qi-paper-fail-bold: unquote('"\\e9bb"');
$qi-paper-plus-bold: unquote('"\\e9bc"');
$qi-password-bold: unquote('"\\e9bd"');
$qi-profile-bold: unquote('"\\e9be"');
$qi-scan-bold: unquote('"\\e9bf"');
$qi-search-bold: unquote('"\\e9c0"');
$qi-setting-bold: unquote('"\\e9c1"');
$qi-show-bold: unquote('"\\e9c2"');
$qi-star-bold: unquote('"\\e9c3"');
$qi-swap-bold: unquote('"\\e9c4"');
$qi-ticket-bold: unquote('"\\e9c5"');
$qi-time-circle-bold: unquote('"\\e9c6"');
$qi-upload-bold: unquote('"\\e9c7"');
$qi-video-bold: unquote('"\\e9c8"');
$qi-volume-off-bold: unquote('"\\e9c9"');
$qi-work-bold: unquote('"\\e9ca"');
$qi-user: unquote('"\\e900"');
$qi-users: unquote('"\\e901"');
$qi-activity: unquote('"\\e902"');
$qi-add-user: unquote('"\\e903"');
$qi-arrow-down-3: unquote('"\\e904"');
$qi-arrow-down-square: unquote('"\\e905"');
$qi-arrow-left: unquote('"\\e906"');
$qi-arrow-left-2: unquote('"\\e907"');
$qi-arrow-left-square: unquote('"\\e908"');
$qi-arrow-right: unquote('"\\e909"');
$qi-arrow-right-2: unquote('"\\e90a"');
$qi-arrow-right-3: unquote('"\\e90b"');
$qi-arrow-right-circle: unquote('"\\e90c"');
$qi-arrow-up-3: unquote('"\\e90d"');
$qi-arrow-up-square: unquote('"\\e90e"');
$qi-buy: unquote('"\\e90f"');
$qi-calendar: unquote('"\\e910"');
$qi-call: unquote('"\\e911"');
$qi-calling: unquote('"\\e912"');
$qi-call-silent: unquote('"\\e913"');
$qi-camera: unquote('"\\e914"');
$qi-category: unquote('"\\e915"');
$qi-chat: unquote('"\\e916"');
$qi-close-square: unquote('"\\e917"');
$qi-danger-circle: unquote('"\\e918"');
$qi-delete: unquote('"\\e919"');
$qi-discount: unquote('"\\e91a"');
$qi-discovery: unquote('"\\e91b"');
$qi-document: unquote('"\\e91c"');
$qi-edit: unquote('"\\e91d"');
$qi-edit-square: unquote('"\\e91e"');
$qi-filter-3: unquote('"\\e91f"');
$qi-folder: unquote('"\\e920"');
$qi-game: unquote('"\\e921"');
$qi-graph: unquote('"\\e922"');
$qi-hide: unquote('"\\e923"');
$qi-home: unquote('"\\e924"');
$qi-info-square: unquote('"\\e925"');
$qi-lock: unquote('"\\e926"');
$qi-logout: unquote('"\\e927"');
$qi-more-circle: unquote('"\\e928"');
$qi-more-square: unquote('"\\e929"');
$qi-notification: unquote('"\\e92a"');
$qi-paper: unquote('"\\e92b"');
$qi-paper-fail: unquote('"\\e92c"');
$qi-paper-plus: unquote('"\\e92d"');
$qi-password: unquote('"\\e92e"');
$qi-play: unquote('"\\e92f"');
$qi-search: unquote('"\\e930"');
$qi-send: unquote('"\\e931"');
$qi-shield-done: unquote('"\\e932"');
$qi-shield-fail: unquote('"\\e933"');
$qi-show: unquote('"\\e934"');
$qi-star: unquote('"\\e935"');
$qi-swap: unquote('"\\e936"');
$qi-ticket-star: unquote('"\\e937"');
$qi-tick-square: unquote('"\\e938"');
$qi-time-circle: unquote('"\\e939"');
$qi-time-square: unquote('"\\e93a"');
$qi-unlock: unquote('"\\e93b"');
$qi-upload: unquote('"\\e93c"');
$qi-video: unquote('"\\e93d"');
$qi-voice: unquote('"\\e93e"');
$qi-voice-3: unquote('"\\e93f"');
$qi-volume-down: unquote('"\\e940"');
$qi-volume-off: unquote('"\\e941"');
$qi-volume-up: unquote('"\\e942"');
$qi-wallet: unquote('"\\e943"');
$qi-work: unquote('"\\e944"');
$qi-arrow-down: unquote('"\\e945"');
$qi-arrow-down-2: unquote('"\\e946"');
$qi-arrow-down-circle: unquote('"\\e947"');
$qi-arrow-left-3: unquote('"\\e948"');
$qi-arrow-left-circle: unquote('"\\e949"');
$qi-arrow-right-square: unquote('"\\e94a"');
$qi-arrow-up: unquote('"\\e94b"');
$qi-arrow-up-2: unquote('"\\e94c"');
$qi-arrow-up-circle: unquote('"\\e94d"');
$qi-bag: unquote('"\\e94e"');
$qi-bag-3: unquote('"\\e94f"');
$qi-bookmark: unquote('"\\e950"');
$qi-call-missed: unquote('"\\e951"');
$qi-chart: unquote('"\\e952"');
$qi-danger-triangle: unquote('"\\e953"');
$qi-download: unquote('"\\e954"');
$qi-filter: unquote('"\\e955"');
$qi-heart: unquote('"\\e956"');
$qi-image: unquote('"\\e957"');
$qi-image-3: unquote('"\\e958"');
$qi-location: unquote('"\\e959"');
$qi-login: unquote('"\\e95a"');
$qi-message: unquote('"\\e95b"');
$qi-paper-download: unquote('"\\e95c"');
$qi-paper-negative: unquote('"\\e95d"');
$qi-paper-upload: unquote('"\\e95e"');
$qi-plus: unquote('"\\e95f"');
$qi-profile: unquote('"\\e960"');
$qi-scan: unquote('"\\e961"');
$qi-setting: unquote('"\\e962"');
$qi-ticket: unquote('"\\e963"');

